.form {
    margin: 0px auto;
    border: 1px solid #000;
}

form {
    margin-left: 20px;
}
form > h4 {
    text-align: center;
}

mat-radio-button {
    margin-bottom: 10px;
}

form > button {
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
}