<div class="form">
    <form>
        <h4>BIENVENIDO</h4>
        <mat-form-field appearance="fill">
            <mat-label>Usuarios</mat-label>
            <mat-select  name="user">
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Formulario</mat-label>
            <mat-select  name="forms">
                <mat-option *ngFor="let form of forms" [value]="form.id">
                    {{form.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <section class="example-section">
            <label>Tiene Codigo ?</label>
            <br>
            <mat-radio-button class="example-margin" (change)="check($event)" value='si'>Si</mat-radio-button>
            <br>
            <mat-radio-button class="example-margin" (change)="check($event)" value='no'>No</mat-radio-button>
        </section>
        <section *ngIf="_check">
            <mat-form-field class="example-full-width">
                <mat-label>Codigo de usuario</mat-label>
                <input type="number" matInput [(ngModel)]="codeUser" name="codeUser" placeholder="123456789">
            </mat-form-field>
        </section>
        <button mat-raised-button color="accent" (click)="sendData()" >ACEPTAR</button>
    </form>
</div>